<launch>
  <group ns="hmc_human_detection">
    <node pkg="hmc_human_detection" name="hmc_human_detection_main" respawn="false" output="screen" type="hmc_human_detection_main"/>
  </group>
  <group ns="move">
    <node pkg="move" name="MovementVelocityDesignation" output="screen" respawn="false" type="MovementVelocityDesignation"/>
  </group>
  <include file="$(find ydlidar)/launch/lidar.launch"/>
</launch>
