<launch>

  <node pkg="help_me_carry" name="first" type="first_follow.py" output="screen"/>
  <node pkg="help_me_carry" name="second" type="second_carry.py" output="screen"/>
  <node pkg="help_me_carry" name="third" type="third_human_detect.py" output="screen"/>
  <node pkg="help_me_carry" name="fourth" type="fourth_go_back.py" output="screen"/>

  <node pkg="navigation" name="navigation" type="navigation.py" output="screen"/>
  <node pkg="location" name="location" type="location_manager.py" output="screen">
  </node>

  <node pkg="sound_system" name="speak" type="speak.py" output="screen"/>
  <node pkg="sound_system" name="hotword" type="hotword_detector.py" output="screen"/>
  <node pkg="sound_system" name="sphinx" type="sphinx.py" output="screen"/>

</launch>
